= render "shared/header"

.main-container
  .mypage-container
    .main-column
      %h2.listings__head 出品した商品
      .mypage-tab-container
        %ul.listings__tabs
          %li
            %h3
              =link_to "出品中", {controller: "users", action: "edit", name: "listing"}
          %li
            %h3
              =link_to "取引中", {controller: "users", action: "edit", name: "in_progress"}
          %li.active
            %h3
              =link_to "売却済み", {controller: "users", action: "edit", name: "completed"}
        %ul
          %li.mypage-item-not-found 売却済みの商品がありません


    = render 'shared/side-bar'

.app-banner

= render 'shared/footer'

= render 'shared/sell_btn'
