%footer.global-footer

  .footer-wrapper
    %ul
      %li.footer-cell
        メルカリについて
        %ul
          %li
            会社概要(運営会社)
          %li
            プライバシーポリシー
          %li
            メルカリ利用規約
          %li
            メルカリ利用規約・有償ポイントに関する特約
          %li
            あんしんスマホサポート制度に関する利用規約
          %li
            コンプライアンスポリシー
          %li
            個人データの安全管理に係る基本方針
          %li
            特定商取引に関する表記
          %li
            資金決済法に基づく表示
          %li
            法令順守と犯罪抑止のために
          %li
            採用情報

      %li.footer-cell
        メルカリを見る
        %ul.detail
          %li
            カテゴリ一覧
          %li
            ブランド一覧
          %li
            出品地域一覧
          %li
            公式ブログ
          %li
            公式Twitter
          %li
            公式Facebook

      %li.footer-cell
        ヘルプ＆ガイド
        %ul.detail
          %li
            メルカリガイド
          %li
            メルカリロゴ利用ガイドライン
          %li
            お知らせ
          %li
            楽々メルカリ便とは
          %li
            ゆうゆうメルカリ便とは
          %li
            大型らくらくメルカリ便とは
          %li
            車体取引ガイド
          %li
            返品・返金ポリシー
          %li
            メルカリあんしん・あんぜん宣言！
          %li
            偽ブランド品撲滅への取り組み
          %liメルカリボックス

      %li.footer-cell
        国
        %ul
          %li
            United States
          %li
            United Kingdom
          %li
            日本

    = link_to image_tag("footer-logo.svg", width: "124", height: "33", alt: "フッターロゴ"), root_path, class: "footer-logo"

    .copyright
      &copy; 2019 freemarket_42nagoya




