.item-box.item-box--user-item.item-box--search
  = link_to item_path(item.id) do
    - if item.order_status == "売却済"
      .item-box__photo.soldout
        = image_tag item.image.url, alt: "アイテム画像", style: "vertical-align:bottom"
    - else
      .item-box__photo
        = image_tag item.image.url, alt: "アイテム画像", style: "vertical-align:bottom"
    .item-box__body
      %h3.item-box__name=item.name
      .item-box__num
        .item-box__num__price=converting_to_jpy(item.price)
        .item-box__num__likes
          =fa_icon("heart", text: 10)
        %p (税込)
