-if item[:order_status] == "売却済"
  %ul.mypage-item-list
    %li.mypage-item
      = link_to controller: "items", action: "edit", name: "myitem-detail", item_id: item.id do
        .mypage-item__link
          .mypage-item__link__img
            = image_tag(item.image.url, alt: "mypage-item-img")
          .mypage-item__body
            .mypage-item__body__text=item.name
            .mypage-item__body__status
              .status-label--sold 売却済
