- if flash[:success_update]
  :javascript
    toastr.options = {
      "progressBar": true,
      "positionClass": "toast-top-full-width",
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    };
    toastr.success("変更しました")
-elsif flash[:fail_update]
  :javascript
    toastr.options = {
      "progressBar": true,
      "positionClass": "toast-top-full-width",
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    };
    toastr.error("変更に失敗しました")
