@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}


$breakpoints: (
  s: "only screen and (min-width: 375px)",
  m: "only screen and (min-width: 768px)",
  l: "only screen and (min-width: 1068px)",
);


@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  }
  @else {
    @error "$breakpointsに#{$breakpoint}というキーはありません";
  }
}

// ユーザーフォームのスタイル
@mixin basic-user-form() {
  border:1px solid #CCCCCC;
  border-radius: 3px;
}

// ログイン・新規登録画面のボタンスタイル
@mixin button-user-form($width: 100%, $height: 40px, $color: #000, $font-size: 16px, $text-color: #FFF) {
  width: $width;
  height: $height;
  position:relative;
  background-color: $color;
  display: inline-block;
  color: rgba($text-color, .9);
  font-size: $font-size;
  text-align: center;
  text-decoration:none;
  line-height: $height;
  outline: 0;
  -webkit-appearance: none;
}

// 必須・任意ボタンのスタイル
@mixin small-require-button($color: #000, $font-size: 16px, $text-color: #FFF) {
  padding:4px 4px;
  background-color:$color;
  border-radius: 2px;
  color:$text-color;
  font-size:$font-size;
  font-weight: normal;
}

// いいね・不適切ボタンのスタイル
@mixin sub-borderround-button($color: #000, $font-size: 16px, $text-color: #FFF) {
  padding:6px 10px;
  background-color:$color;
  border:none;
  border-radius: 18px;
  color:$text-color;
  font-size:$font-size;
  font-weight: normal;
}

// SNSボタンのスタイル
@mixin sns-square-button($color: #000, $font-size: 16px, $text-color: #FFF) {
  padding: 8px 7px 10px 12px;
  background-color:$color;
  border:none;
  border-radius: 5px;
  color:$text-color;
  font-size:$font-size;
  font-weight: normal;
}

@mixin dropdown-menu ($hover-char-color: $shiro, $hover-bg-color: $main-red){
  display: block;
  padding: 0 16px;
  line-height: 44px;
  font-size: 14px;
  color: $char-black;
  &:hover {
    color: $hover-char-color;
    background-color: $hover-bg-color;
  }
}

@mixin child-dropdown-menu ($width: 224px){
  position: absolute;
  top: 0;
  left: 224px;
  bottom: 0;
  background-color: $shiro;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  & > li {
    width: $width;
  }
  & > li > a {
    color: $char-black;
    font-size: 14px;
    display: block;
    position: relative;
    padding: 2.5px 16px;
    &:hover {
      background-color: rgba(0,0,0,0.12);
    }
  }
}

@mixin mypage-user-icon ($bg-size: 320px 95px) {
  @include media(m) {
    height: 200px;
  }
  position: relative;
  height: 155px;
  padding: 20px;
  background-image: image-url("mypage-bg.jpg");
  background-size: $bg-size;
  background-repeat: no-repeat;
  text-align: center;

  & > a {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    color: $char-black;
  }
  & > a:hover {
    opacity: .8;
  }

  &__image {
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
  }

  .user-name {
    margin: 8px 0 0;
    font-size: 14px;
    font-weight: bold;
  }

  .user-number {
    margin: 8px 0 0;
    &__evaluation {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
    }
    & > div:first-child {
      margin: 0 16px 0 0;
    }
    &__item-number {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

// 出品中・売却済のラベルのスタイル
@mixin item-status-label($label-color: $main-blue) {
  display: inline-block;
  padding: 0 5px;
  background-color: $label-color;
  font-size: 12px;
  font-weight: bold;
  color: $shiro;
  line-height: 1.5;
  border-radius: 2px;
}
