// スマートフォン用ヘッダー
.sp-header {
  position: relative;
  z-index: 1000;
  background-color: $shiro;
  height: 140px;
}

// PC・タブレット用ヘッダーとの切り替え
.visible-sp {
  @include media(m) {
    display: none;
  }
}

.has-search-nav {
  height: 140px;
}

// ロゴ、ログイン・新規登録ボタン
.top-header {
  @include clearfix();
  @include media(s) {
    padding: 6px 16px 0;
  }
  position: relative;
  padding: 6px 10px 0;

  &__logo {
    @include media(s) {
      padding-top: 1px;
      width: 135px;
      height: 39px;
    }
    float: left;
    width: 120px;
    height: 32px;
    opacity: 1;
    padding-top: 3px;
    &__link {
      display: block;
      color: $char-black;
      & img {
        @include media(s) {
          width: 148px;
          height: 40px;
        }
        width: 120px;
        height: 32px;
      }
    }
  }
  &__user-nav {
    @include clearfix();
    float: right;
    margin: 4px 0 0;
    font-size: 14px;
  }
}

// ボタンのスタイル
.sp-header-btn {
  @include media(s) {
    padding: 0 10px;
    line-height: 30px;
  }
  display: inline-block;
  padding: 0 6px;
  border-radius: 4px;
  text-align: center;
  line-height: 26px;
}

.sp-header-btn:first-child {
    margin-right: 3px;
}

// ログインボタンのスタイル
.login-btn {
  background-color: $main-red;
  border: 1px solid $main-red;
  color: $shiro;
}

.login-btn:hover {
  opacity: .8;
  text-decoration: underline;
}

// 新規登録ボタンのスタイル
.signup-btn {
  border: 1px solid $main-blue;
  background-color: $shiro;
  color: $main-blue;
}

.signup-btn:hover {
  background-color: $main-blue;
  color: $shiro;
  opacity: .8;
  text-decoration: underline;
}

// 検索フォーム
.search-bar {
  height: 44px;
  margin-top: 8px;
  position: relative;
  &__form__textfield {
    background: #eee;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    height: 38px;
    margin: 0 10px;
    padding: 0 15px 0 10px;
    margin-top: 2px;
    transition: border-color ease-out .3s;
    width: calc(100% - 20px);
  }
  & #search-icon {
    display: none;
  }
  & .fa-search {
    height: 36px;
    line-height: 38px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 2px;
    width: 36px;
    z-index: 1;
  }
}

// カテゴリー・ブランド
.search-nav {
  position: relative;
  overflow: hidden;
  height: 44px;
  line-height: 42px;
  & a {
    font-size: 14px;
    float: left;
    display: inline-block;
    padding: 0;
    position: relative;
    text-align: center;
    width: 50%;
    color: $char-black;
  }
  &__category:after {
    background: #eee;
    content: '';
    display: block;
    height: 34px;
    position: absolute;
    top: 4px;
    right: 0;
    width: 1px;
    border-style: solid;
    border-width: 0;
  }
  & a:hover {
    opacity: .7;
    text-decoration: underline;
  }
}


// PC・タブレット用ヘッダー
.pc-header {
  position: relative;
  z-index: 1001;
  background-color: $shiro;
}

.visible-pc {
  @include media(m) {
    display: block;
  }
  display: none;
}

.header-container {
  @include media(l) {
    width: 1020px;  
  }
  width: 700px;
  margin:0 auto;
  padding-top: 8px;
}

.top-wrapper {
  @include clearfix();
  &__logo {
    float: left;
    &__img {
      display: block;
    }
  }

  &__form {
    float: right;
    position: relative;
    width: calc(100% - 134px - 16px);
    margin: 0;

    &__textfield {
      width: 100%;
      height: 36px;
      padding: 9px 32px 9px 8px;
      background-color: $form-color;
      border: 1px solid #ccc;
      border-radius: 4px;
      line-height: 1.5;
      font-size: 16px;
      display: inline-block;
    }

    #search-icon {
      display: none;
    }

    .fa-search {
      position: absolute;
      top: 0;
      right: 0;
      width: 36px;
      line-height: 36px;
      cursor: pointer;
      text-align: center;
    }
  }
}

// textfieldの装飾
input[type="text"]:focus {
  outline: 0;
  border-color: $main-blue;
  transition: all ease-out .3s;
}


.bottom-wrapper {
  @include clearfix();
  margin: 8px 0 0;

  .left-nav {
    float: left;

    &__menu li {
      display: inline-block;
      position: relative;
    }

    &__menu {
      &--category {
        color: $char-black;
        font-size: 14px;
        line-height: 38px;
        display: block;
      }

      &--category:hover {
        color: $main-blue;
      }

      &--brand {
        color: $char-black;
        font-size: 14px;
        line-height: 38px;
        padding-left: 16px;
        display: block;
      }

      &--brand:hover {
        color: $main-blue;
      }
    }
  }

  .right-nav {
    float: right;

    .right-nav__buttons {
      display: flex;

      & .sp-header-btn {
        margin: 0;
      }

      & .login-btn {
        display: block;
        border-radius: 7px;
        font-size: 14px;
        margin-right: 11px;
        line-height: 30px;
        padding: 0 10px;
      }

      & .login-btn:hover {
        opacity: .9;
      }

      & .pc-signup {
        color: $main-blue;
        border: 1px solid $main-blue;
        display: block;
        border-radius: 7px;
        font-size: 12px;
        line-height: 30px;
        padding: 0 10px;
      }

      & .pc-signup:hover {
        background-color: $main-blue;
        color: $shiro;
      }
    }
  }
}

