
// ここからメイン
.item-list {
  background-color: $bg-color;
  padding: 40px 0;

  .item-group {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }
  .item-container {
  width: 940px;
  margin: 0 auto;
  }
}



.pickup-items {
  @include clearfix();
  & > h3 {
    text-align: center;
    margin: 26px 11px;
  & > a {
    color: $main-blue;
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    }
  & > a:hover {
    opacity: .8;
    border-bottom: 1px solid $main-blue;
  }
  }
  .item {
    float:left;
    margin: 0 0 0 20px;
    width: 213px;
    &__image {
      display: block;
    }
    &__body {
      height: 110px;
      padding: 16px;
      background-color: $shiro;
      .item__name {
        color: $char-black;
        overflow: hidden;
        font-size: 16px;
        font-weight: 400;
        height: 3em;
        line-height: 1.5;
      }
    }
  }
  .allitem-link {
    padding: 20px 0 30px;
    width: 99.5%;
    text-align: right;
    margin: 0;
    & > a {
      color: $main-blue;
      font-size: 13px;
      padding: 0;
    }
    & > a:hover {
      opacity: .8;
      border-bottom: 1px solid $main-blue;
    }
  }
}

.item__num {
  color: $char-black;
  @include clearfix();
  &__price {
    float: left;
    font-size: 20px;
    font-weight: 600;
  }
  &__likes {
    float: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
  }
  & > p {
    clear: both;
    font-size: 10px;
  }
}



// ここからフッター
.global-footer {
  background-color: $footer;
  color: $shiro;
  padding: 60px;
}

.footer-wrapper {
  width: 1020px;
  margin: 0 auto;
  .footer-cell {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    text-align: center;
    margin: 0 8px;
    .footer-head {
      font-size:16px;
      font-weight: bold;
      .detail {

      }
    }
  }
  .footer-logo {
  display: block;
  text-align: center;
  margin-top: 40px;
  }
  .footer-logo:hover {
    opacity: .7;
  }
  .copyright {
    text-align: center;
    font-size: 12px;
  }
}



















