
// ここからメイン

.slide {
  @include media(m) {
    height: 290px;
  }
  @include media(l) {
    height: 390px;
  }
  height: 157px;
  background: image-url("slide1.png");
  background-size: cover;
  background-position: center;
  display: block;
}


.item-list {
  @include media(m) {
    padding: 40px 0;
  }
  padding: 20px 0 0 0;
  background-color: $bg-color;

  .item-group {
    @include media(m) {
      font-size: 28px;
    }
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
}


.item-container {
  @include media(m) {
    width: 700px;
    margin: 0 auto;
  }
  @include media(l) {
    width: 940px;
  }
  @include clearfix();

  & > h3 {
    @include media(m) {
      font-size: 22px;
    }
    font-size: 18px;
    text-align: center;
    margin: 26px 11px;

    & > a {
      font-size: 22px;
      text-decoration: none;
      font-weight: 600;
    }

    & > a:hover {
      opacity: .8;
      text-decoration: underline;
    }
  }
}

.item {
  @include media(m) {
    width: auto;
  }
  @include clearfix();
  width: 92%;
  margin: 0 auto;
}

.item-box {
  @include media(m) {
    margin: 0 0 0 20px;
    width: 124px;
  }
  @include media(l) {
    width: 188px;
  }
  position: relative;
  float: left;
  width: 48%;
  margin: 0 0 4% 4%;
  background: $shiro;
  & > a {
    display: block;
  }
}

.item-list .item-box {
  margin: 0 0 20px 20px;
  width: calc(50% - 30px);
}

.item-list .item .item-box {
  @include media(m) {
    margin: 0 0 0 20px;
    width: 213px;
  }
}

.item-box:nth-child(4) {
  @include media(m) {
    display: none;
  }
  @include media(l) {
    display: block;
    margin: 0 0 0 20px;
  }
}

.item-box__photo {
  @include media(m) {
    width: 220px;
    height: 220px;
  }
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
  & > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
}

.item-list .item-box__photo {
  width: 100%;
}

.item-list .item-container .item-box .item-box__photo {
  @include media(m) {
    width: 213px;
  }
}


.item-box__body {
  height: 110px;
  padding: 16px;
}

.item-box__name {
  overflow: hidden;
  position: relative;
  color: $char-black;
  font-size: 16px;
  font-weight: 400;
  height: 3em;
  line-height: 1.5;
  word-break: break-word;
  white-space: normal;
}

.item-box__name:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 1.5em;
  background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
}

// 価格・いいね
.item-box__num {
  color: $char-black;
  margin: 8px 0 0;
  @include clearfix();
  &__price {
    @include media(m) {
      font-size: 16px;
    }
    @include media(l) {
      font-size: 20px;
    }
    float: left;
    font-weight: 600;
  }
  &__likes {
    float: right;
    font-size: 16px;
    font-weight: 400;
  }
  & > p {
    clear: both;
    font-size: 10px;
  }
}


// 全ての商品を見る
.item-list .allitem-link {
  @include media(m) {
    padding: 20px 0 30px;
    width: 99.5%;
  }
  padding: 0 0 30px;
  width: 91%;
  text-align: right;
  & > a {
    font-size: 13px;
    padding: 0;
  }
  & > a:hover {
    opacity: .8;
    text-decoration: underline;
  }
}

// 下部アプリバナー
.app-banner {
  @include media(m) {
    height: 260px;
    background: image-url("app-banner.png");
    background-size: cover;
    background-position: center;
  }
  background: $shiro;
}

/* ラベル部分 左上に表示 */
.soldout::before {
  @include mq-down() {
    border-bottom: 4.5em solid transparent;
    border-left: 4.5em solid #ea352d;
  }
  @include mq-up() {
    border-bottom: 6.5em solid transparent;
    border-left: 6.5em solid #ea352d;
  }
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
}
.soldout::after {
  @include mq-down() {
    font-size: 18px;
    top: 15px;
    left: 4px;
  }
  @include mq-up() {
    font-size: 27px;
    top: 19px;
    left: 4px;
  }
  content: "SOLD";
  display: block;
  position: absolute;

  transform: rotate(-45deg);
  color: #fff; /* 文字色はここで変更 */
  z-index: 101;
}







