
// ここからメイン
.item-list {
  background-color: $bg-color;
  padding: 40px 0;

  & > h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }
  .items-container {
  width: 940px;
  margin: 0 auto;
  }
}



.pickup-items {
  @include clearfix();
  & > h3 {
    text-align: center;
    margin: 26px 11px;
  & > a {
    color: $main-blue;
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    }
  & > a:hover {
    opacity: .8;
    border-bottom: 1px solid $main-blue;
  }
  }
  .card {
    float:left;
    margin: 0 0 0 20px;
    width: 213px;
    &__item {
      display: block;
      &__body {
        height: 110px;
        padding: 16px;
        background-color: $shiro;
        &__item-name {
          color: $char-black;
          overflow: hidden;
          font-size: 16px;
          font-weight: 400;
          height: 3em;
          line-height: 1.5;
        }
        &__num {
          // margin: 8px 0 0;
          color: $char-black;
          @include clearfix();
          &__price {
            float: left;
            font-size: 20px;
            font-weight: 600;
          }
          &__likes {
            float: right;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.8;
          }
          & > p {
            clear: both;
            font-size: 10px;
          }
        }
      }
    }
  }
  .allitem-link {
    padding: 20px 0 30px;
    width: 99.5%;
    text-align: right;
    margin: 0;
    & > a {
      color: $main-blue;
      font-size: 13px;
      padding: 0;
    }
    & > a:hover {
      opacity: .8;
      border-bottom: 1px solid $main-blue;
    }
  }
}



// ここからフッター
.global-footer {
  background-color: $footer;
  color: $shiro;
}

.footer-wrapper {
  width: 1020px;
  margin: 0 auto;
  padding-top: 70px;
  .footer-cell {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    text-align: center;
    margin: 0 8px;
  }
  .footer-logo {
  display: block;
  text-align: center;
  }
  .copyright {
    text-align: center;
  }
}
