.sell-btn {
  @include media(m) {
    height: 160px;
    width: 160px;
    bottom: 32px;
    right: 32px;
    font-size: 22px;
  }
  height: 80px;
  width: 80px;
  bottom: -14px;
  right: -14px;
  background-color: $main-red;
  color: $shiro;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  z-index: 1000;


  &__char {
    @include media(m) {
    margin-top: 30px;
  }
    margin-top: 14px;
  }
  &__icon {
    @include media(m) {
      font-size: 60px;
      margin-top: 4px;
    }
    font-size: 24px;
  }
}
