.single-main
  .finish
    .finish__head-inner
      %h2.innertitle 会員登録完了
    .finish__form-inner
      %p.appreciate-commet
        ありがとうございます。
        %br
        会員登録が完了しました。
      =link_to "メルカリをはじめる", root_path, class: "btn-summit"
